<h1>Bienvenu sur notre site</h1>

  <h2>Vous pouvez ici, ajouter, modifier et supprimer les voitures ainsi que les utilisateurs</h2>

    <p>Pour commencer, vous pouvez remplir la liste des voitures que vous possédez en cliquant sur l'onglet <%= link_to '"Cars"', :controller => :cars, :action => :index %> de la barre de navigation, en haut.</p>

  <h2>Voir la liste des utilisateurs</h2>

    <p>Pour voir la liste des utilisateurs, vous pouvez cliquer sur l'onglet <%= link_to '"Users"', :controller => :users, :action => :index %> dans la barre de navigation, en haut.</p>
